.Convert .convert-inputs {
  gap: 20px;
}
.Convert .btn-ctn {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.Convert .cvrt {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  cursor: pointer;
}
.Convert .cvrt i {
  color: gray;
  position: absolute;
  right: 10px;
}
.Convert label {
  color: rgb(20, 30, 55);
  font-weight: 600;
}
.Convert .cvrt input {
  height: 50px;
  width: 320px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  box-sizing: border-box;
}

.Convert .cvrt.amount {
  position: relative;
}
.Convert .cvrt.amount .symbols {
  position: absolute;
  top: 42px;
  left: 50px;
  width: 11px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #141e37;
}
.Convert ul.custom-dropdown.hide {
  display: none;
}
.Convert ul.custom-dropdown {
  display: block;
  width: 321px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 55px;
  left: 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 0px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
}
.Convert ul.custom-dropdown li {
  height: 44px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.Convert ul.custom-dropdown li:hover {
  background-color: #e3d8f533;
}
.Convert .contains-of {
  height: 49.3333px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.Convert .contains-of img {
  width: 21.667px;
  height: 15.667px;
}
.Convert .contains-of select {
  width: 90%;
  background-color: white;
  cursor: pointer;
}
.Convert .contain-toward {
  height: 49.3333px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgba(0, 17, 51, 0.05) 0px 3px 15px;
  padding: 12px;
  color: rgb(20, 30, 55);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.Convert .contain-toward img {
  width: 21.667px;
  height: 15.667px;
}
.Convert .contain-toward select {
  width: 90%;
  background-color: white;
  cursor: pointer;
}
.Convert .btn-transact {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
  padding: 16px;
  width: 49px;
  height: 49px;
}
.Convert .btn-transact:hover {
  border: 1px solid #472e72;
}
.Convert .btn-transact img {
  width: 16px;
  height: 16px;
  color: #472e72;
}
.Convert .btn-transact img {
  width: 20px;
}
.Convert .convert-results {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
  width: 358px;
}
.Convert .convert-results .line1 {
  margin: 0px;
  font-size: 16px;
  /* width: 204px; */
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}
.Convert .convert-results .line2 {
  /* width: 204px; */
  height: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #472e72;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 329.1px;
  white-space: nowrap;
}
.Convert .convert-results .line2 .nb2 {
  color: rgb(161, 166, 176);
}
.Convert .convert-results .line3 {
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #211535;
}
.Convert .error {
  color: rgb(161, 166, 176);
  font-weight: 600;
  margin: 0px;
  font-size: 25px;
  max-width: 100%;
}
.Convert .notify {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  background: rgb(242, 247, 254);
  border-radius: 6px;
  max-width: 500px;
  font-size: 11px;
  margin: 0px 8px 8px 0px;
  color: rgb(55, 60, 73);
  height: 65.5px;
}
.Convert .notify .notify-icon {
  /* margin-right: 15px; */
}
.Convert .notify .notify-icon img {
  color: rgb(92, 102, 123);
  width: 50px;
  height: 50px;
  margin-left: 4px;
}
.Convert .notify .notify-link {
  color: rgb(0, 108, 224);
  border-bottom: 1px solid rgb(0, 108, 224);
}
.Convert .convert-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}
.Convert .validate-btn button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  width: 107px;
  height: 48px;
  background: #472e72;
  border: 2px solid #472e72;
  border-radius: 8px;
}
.Convert .contains-of img.arr-down {
 width: 16px;
 height: 16px;
 position: absolute;
  right: 10px;
  top: 17px;
}
.Convert .contain-toward  img.arr-down {
 width: 16px;
 height: 16px;
 position: absolute;
  right: 10px;
  top: 17px;
}
